@font-face{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face{
    font-family: OpenSerif;
    src: url(OpenSerif-Book.ttf);
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

/*CSS FELIPE*/

#inicio{
    overflow-x: hidden;    
}

#logoUser{
    margin: 10px;
    display: block;
}

#titulo{
 font-size: 70px;
  text-align: center;
  color: black;
    position: relative;
  font-family: Openserif;
}

.texto p{
    font-family: Roboto;
    font-size: 23px;
    text-align: center;
    color: black;
    margin-top: 20px;
}

a{
    text-decoration: none;
}

li{
    margin-top: 70px;
    list-style: none;
    position: relative;
    font-family: Roboto;
}

.lista{
    text-align: center;
}

.lista a{
    font-weight: bold;
    font-size: 17px;
    color: #83B692;
}

#delfinInicio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.botonAnimales{
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    border: none;
    display: block;
    position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}

#botonDelfin{
    background: #A8CCC9;
}

#nutriaInicio{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    position: relative;
    top: 50px;
}

#botonNutria{
    background: #956D4F;
    top: 50px;
}

#manatiInicio{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    position: relative;
    top: 110px;
}

#botonManati{
    background: #75929A;
    top: 100px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #00898E;
  border-radius: 10px;
  transition: background .3s;
}
.btn:hover {
  background: #00898E;
}
.popup {
  position: fixed;
  padding: 10px;
  width: 180px;
  height: 100%;
  top: 50%;
  left: 50px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
}
.popup .close:hover {
  color: #00E5EE;
}

.close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.popup:target + .close-popup {  
  opacity: 0;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.botonAtras{
    position:relative;
    left: 85%;
    margin-top: 20px;
}

#planesDeAdopcion{
    text-align: center;
    font-size: 60px;
    color: black;
    position: relative;
    top: 100px;
}    

#textoPlanAdopcion{
    color: black;
    font-size: 24px;
    position: relative;
    top: 150px;
}

.botonAdopciones{
     border-radius: 50px;
    width: 70%;
    height: 70px;
    font-family: Roboto;
    font-size: 35px;
    color: white;
    border: none;
    display: block;
    position: relative;
    top: 200px;
      margin-left: auto;
      margin-right: auto;
    margin-bottom: 80px;
}

#botonAmigo{
    background: #B6E2C3;
}

#botonPatrocinador{
    background: #99CDA8;
}

#botonGuardian{
    background: #86B895;
}

#imagenes{
    width: 100%;
}

/*-----------*/

.header{
    height: 300px;
    width: 100%;
    background-color:#99CDA8;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 66%;
    
}
.oculto {
	display: none;
}
#menuFooter{
    width: 100%;
    z-index: 5001;
    position: absolute;
    bottom:0;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#footer{
    height: 70px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box; 
}

.barraAbajo{
    height: 49px;
    width: 49px;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    border-radius: 60%;
    background-image: url(../img/Home.png);

}
.tituloAmigo{
    padding-top: 28%;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    font-weight: normal;
    line-height: 69px;
}
.header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    padding-top: 6%;
}
.btnAtras{
    float: right;
    margin: 5%;
}
.tituloBeneficio{
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    padding-top: 5%;
    font-weight: 500;
    font-size: 26px;

}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070; 
    padding: 3% 10%;
    font-size: 18px;
}
strong{
    color: #99CDA8;
    font-weight: normal;
    font-size: 21px;
}
#content{
    overflow-y: scroll;
    z-index: 1;
    will-change: scroll-position;
    overflow: auto;
    box-sizing: border-box;
    display: block;
}
.btnAdquirir{
    height: 53px;
    width: 223px;
    background-color: #BBCC6D;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.btnAdquirir p{
    color: white;
    font-size: 31px;
}
.contBtn{
    padding: 10%;
    text-align: -webkit-center;

}
.plnAmigo{
    padding-top: 20% !important;
}
.gracias{
    text-align: center;
}
.campoForm{
    height: 43px;
    border: solid;
    border-color: #AFD6A1;
    font-family: sans-serif;
    font-size: 19px;
    margin: 1%;
    padding-left: 5px;
}
.planes h2{
    color: #AFD6A1;
    font-weight: normal;
    font-family: sans-serif;
    padding: 10%;
    line-height: 1.3;
    margin-left: 5%;
}
.guardian .header p{
    font-size: 23px;
    padding-top: 3%;
}
.patrocinador .header p{
    font-size: 24px;
    padding-top: 3%;
}
@media(max-width:320px){
    .campoForm{
        width: 260px;
        font-size: 16px;
    }
    .planes h2{
        font-size: 21px;
    }
    .header p{
        font-size: 22px;
    }
    .btnAtras{
        margin: 4%;
    }
    .guardian .header p{
        font-size: 20px;
    }
    .patrocinador .header p{
        font-size: 20px;
    }
    #titulo{
        font-size: 50px;
    }
    .texto p{
        font-size: 20px;;
    }
    .popup{
        top: 50%;
    }
    #planesDeAdopcion{
        font-size: 50px;
    }
    #textoPlanAdopcion{
        font-size: 20px;
    }
    .botonAdopciones{
    width: 55%;
    height: 50px;
    font-family: Roboto;
    font-size: 25px;
    color: white;
    border: none;
    display: block;
    position: relative;
    top: 200px;
      margin-left: auto;
      margin-right: auto;
    margin-bottom: 50px;
    }
}

@media(min-width:321px){
    .campoForm{
        width: 300px;
    }
    .planes h2{
        font-size: 23px;
    }
    .guardian .header p{
        font-size: 22px;
        padding-top: 3%;
    }
    
}
@media(min-width:376px){
    .campoForm{
        width: 341px;
    }
    .planes h2{
        font-size: 26px;
    }
    .guardian .header p{
        font-size: 23px;
        padding-top: 3%;
    }
    .popup{
        top: 50%;
    }
    .botonAtras{
        left: 90%;
        width: 50px;
    }
}
::placeholder{
    color:#AFD6A1;
}
.formPagar{
    text-align: center;
}
.patrocinador .header{
    opacity: 100%;
    background-image: url(../img/patron2.png);
}
.patrocinador .tituloAmigo{
    font-size: 50px;
}

#pagarPatrocinador .tituloAmigo{
    line-height: 54px;
}
#patrGracias .tituloAmigo{
    line-height: 54px;
}
.guardian .header{
    opacity: 100%;
    background-color: #83B692;
    background-image: url(../img/patron3.png);
}
.guardian .tituloAmigo{
    font-size: 60px;
}

@media(max-height:640px){
    #content{
        height: 500px;  
    }   
}
@media(min-height:640px){
    #content{
        height: 570px;
    }
}
@media(min-height:730px){
    #content{
        height: 670px;
    }
}
@media(min-height:800px){
    #content{
        height: 750px;
    }
}
.botones{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 35px;
}
#mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img1{
    margin-right: 10px;
    height: 90px;
    width: 95px;
}
#img2{
    margin-left: 15px;
    height: 90px;    
    width: 95px;
}
#img3{
    margin-left: 25px;
    height: 90px;
    width: 95px;
}
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
#menu ul a {
    display:block;
    text-decoration:none;
    text-align: center;
}
#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}
#menu ul ul li {
    float:none;
    width:150px
}
#menu ul ul a {
    color: black;
    line-height:120%;
    padding:5px 15px;
    cursor: pointer;
}
#menu ul li:hover > ul {
    display:block;
}
.separador{
    margin-left: 10px;
    margin-right: 10px;
}
.fondobtnmanati{
    background-color: #75929A;
}
.fondobtndelfin{
    background-color: #A8CCC9;
}
.fondobtnnutria{
    background-color: #956D4F;
}
.descAnim p{
    text-align: left;
}
.descGene{
    text-align: justify !important;

}
.descAnim .btnAdquirir{
    width: 263px;
}
.descAnim h3{
    color: #83B692;
    font-family: roboto;
    font-size: 26px;
    font-weight: normal;
    line-height: 69px;
}
.imgAnimales{
    width: 100%;
}
.imgAnimalesD{
    padding: 5% 0;
}
.tiposAnim strong{
    color: #83B692;
    font-weight: normal;
    font-size: 17px;
}
.tiposAnim{
    text-align: center;
}
.headerAnimales{
    height: 200px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headerAnimales p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 35px;
    line-height: 32px;
}
.tituloAnimales{
    padding-top: 20%;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 68px;
    font-weight: normal;
    line-height: 69px;
}
.tituloNombreA{
    color: #956D4F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 69px;
}
#titdelfin{
    color: #9AC2BD;
}
#titmanati{
    color: #75929A;
}

