@font-face{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face{
    font-family: OpenSerif;
    src: url(OpenSerif-Book.ttf);
}

body{
    overflow-x: hidden;
}

*{
    margin: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

/*CSS FELIPE*/

#inicio{
    overflow-x: hidden;    
}

#logoUser{
    margin: 10px;
    display: block;
}

#titulo{
 font-size: 70px;
  text-align: center;
  color: black;
    position: relative;
    top: 100px;
  font-family: Openserif;
}

.texto p{
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-top: 20px;
    position: relative;
    top: 100px;
}

#conocer{
    color: #BBCC6D;
    font-weight: bold;
}

#delfinInicio{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    position: relative;
    top: 100px;
}

.botonAnimales{
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-family: Roboto;
    font-size: 20px;
    color: white;
    border: none;
    display: block;
    position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
}

#botonDelfin{
    background: #A8CCC9;
    top: 100px;
}

#nutriaInicio{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    position: relative;
    top: 150px;
}

#botonNutria{
    background: #956D4F;
    top: 150px;
}

#manatiInicio{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    position: relative;
    top: 210px;
}

#botonManati{
    background: #75929A;
    top: 200px;
    margin-bottom: 50px;
}


.botonAtras{
    position:relative;
    left: 85%;
    margin-top: 20px;
}

#planesDeAdopcion{
    text-align: center;
    font-size: 60px;
    color: black;
    position: relative;
    top: 100px;
}    

#textoPlanAdopcion{
    color: black;
    font-size: 18px;
    position: relative;
    top: 150px;
    text-align: center;
    line-height: 30px;
}

.botonAdopciones{
     border-radius: 50px;
    width: 70%;
    height: 70px;
    font-family: Roboto;
    font-size: 35px;
    color: white;
    border: none;
    display: block;
    position: relative;
    top: 200px;
      margin-left: auto;
      margin-right: auto;
    margin-bottom: 40px;
}

#botonAmigo{
    background: #B6E2C3;
}

#botonPatrocinador{
    background: #99CDA8;
}

#botonGuardian{
    background: #86B895;
}

#imagenes{
    width: 100%;
}

.logoMenuInicio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 23%;
}

.logoMapaInicio{
    float: right;
    margin-right: 15%;
    position: relative;
    bottom: 28px;
}

.logoUsuarioInicio{
    float: left;
    margin-left: 15%;
    position: relative;
    bottom: 28px;
}

.manatiSeg{
    float: left;
    margin-left: 15%;
    position: relative;
    height: 90px;
    width: 90px;
}

.delfinSeg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 90px;
    height: 90px;
    width: 90px;
}

.nutriaSeg{
    float: right;
    margin-right: 15%;
    position: relative;
    height: 90px;
    width: 90px;
}

/*-----------*/

.header{
    height: 300px;
    width: 100%;
    background-color:#c5e0cd;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20%;
}
.oculto {
	display: none;
}
.menuFooter{
    width: 100%;
    z-index: 5001;
    position: fixed !important;
}

.menuseguimiento{
    position: fixed;
    width: 100%;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer{
    width: 100%;
    height: 75px;
    background: #BBCC6D;
}

.footerseguimiento{
    width: 100%;
    height: 75px;
}

#flexSeg{
    display: flex;
    justify-content: center;
}

#mapaSeg{
    display:block;
    position: fixed;
}

#background{
    display:block;
    position: fixed;
    width: 100%;
    height: 305px;
}

.informacion{
    padding-top: 180px;
}

.parrafos{
    padding-top: 300px;
}

.tituloseg{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.tituloAmigo{
    padding-top: 28%;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    font-weight: normal;
    line-height: 69px;
}
.header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    padding-top: 6%;
}
.btnAtras{
    float: right;
    margin: 5%;
}
.tituloBeneficio{
    color: #707070;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;
    padding-top: 5%;
    font-weight: 500;
    font-size: 26px;

}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070; 
    padding: 3% 10%;
    font-size: 18px;
}
strong{
    color: #99CDA8;
    font-weight: normal;
    font-size: 21px;
}
#content{
    z-index: 1;
    will-change: scroll-position;
    box-sizing: border-box;
    display: block;
}
.btnAdquirir{
    height: 53px;
    width: 223px;
    background-color: #BBCC6D;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.btnAdquirir p{
    color: white;
    font-size: 31px;
}
.contBtn{
    padding: 10%;
    text-align: -webkit-center;

}
.plnAmigo{
    padding-top: 20% !important;
}
.gracias{
    text-align: center;
    color: #AFD6A1 !important;
}
.planes .pagando{
    text-align: center;
}
.planes h2{
    color: #707070;
    font-weight: normal;
    font-family: sans-serif;
    padding: 10%;
    line-height: 1.3;
    margin-left: 5%;
    text-align: center;
}
.planes h3{
    font-family: Roboto;
    font-size: 26px;
    font-weight: normal;
    color: #AFD6A1;
    padding: 5%;
}
.guardian .header p{
    font-size: 23px;
    padding-top: 3%;
}
.patrocinador .header p{
    font-size: 24px;
    padding-top: 3%;
}
.patrocinador .header{
        background-color: #99CDA8;
    
}

@media(max-width:320px){
    .campoForm{
        width: 260px;
        font-size: 16px;
    }
    .planes h2{
        font-size: 21px;
    }
    .header p{
        font-size: 22px;
    }
    .btnAtras{
        margin: 4%;
    }
    .guardian .header p{
        font-size: 20px;
    }
    .patrocinador .header p{
        font-size: 20px;
    }
    #titulo{
        font-size: 50px;
    }
    .texto p{
        font-size: 20px;;
    }
    .popup{
        top: 50%;
    }
    #planesDeAdopcion{
        font-size: 50px;
    }
    #textoPlanAdopcion{
        font-size: 20px;
    }
    .botonAdopciones{
    width: 55%;
    height: 50px;
    font-family: Roboto;
    font-size: 25px;
    color: white;
    border: none;
    display: block;
    position: relative;
    top: 200px;
      margin-left: auto;
      margin-right: auto;
    margin-bottom: 50px;
    }
}

@media(min-width:321px){
    .campoForm{
        width: 300px;
    }
    .planes h2{
        font-size: 23px;
    }
    .guardian .header p{
        font-size: 22px;
        padding-top: 3%;
    }
    
}
@media(min-width:376px){
    .campoForm{
        width: 341px;
    }
    .planes h2{
        font-size: 26px;
    }
    .guardian .header p{
        font-size: 23px;
        padding-top: 3%;
    }
    .popup{
        top: 50%;
    }
    .botonAtras{
        left: 90%;
        width: 50px;
    }
}
.amigo .header{
    background-image: url(../img/patron1.png);
}
.patrocinador .header{
    opacity: 100%;
    background-image: url(../img/patron2.png);
}
.patrocinador .tituloAmigo{
    font-size: 50px;
}

#pagarPatrocinador .tituloAmigo{
    line-height: 54px;
}
#patrGracias .tituloAmigo{
    line-height: 54px;
}
.guardian .header{
    opacity: 100%;
    background-color: #83B692;
    background-image: url(../img/patron3.png);
}
.guardian .tituloAmigo{
    font-size: 60px;
}
/*
@media(max-height:640px){
    #content{
        height: 500px;  
    }   
}
@media(min-height:640px){
    #content{
        height: 570px;
    }
}
@media(min-height:730px){
    #content{
        height: 670px;
    }
}
@media(min-height:800px){
    #content{
        height: 750px;
    }
}
*/
.botones{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 35px;
}
#mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img1{
    margin-right: 10px;
    height: 90px;
    width: 95px;
}
#img2{
    margin-left: 15px;
    height: 90px;    
    width: 95px;
}
#img3{
    margin-left: 25px;
    height: 90px;
    width: 95px;
}
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
#menu ul a {
    display:block;
    text-decoration:none;
    text-align: center;
}
#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}
#menu ul ul li {
    float:none;
    width:150px
}
#menu ul ul a {
    color: black;
    line-height:120%;
    padding:5px 15px;
    cursor: pointer;
}
#menu ul li:hover > ul {
    display:block;
}
.separador{
    margin-left: 10px;
    margin-right: 10px;
}
.fondobtnmanati{
    background-color: #75929A;
}
.fondobtndelfin{
    background-color: #A8CCC9;
}
.fondobtnnutria{
    background-color: #956D4F;
}
.descAnim p{
    text-align: left;
}
.descGene{
    text-align: justify !important;

}
.descAnim .btnAdquirir{
    width: 263px;
}
.descAnim h3{
    color: #83B692;
    font-family: roboto;
    font-size: 26px;
    font-weight: normal;
    line-height: 69px;
}
.imgAnimales{
    width: 100%;
}
.imgAnimalesD{
    padding: 5% 0;
}
.tiposAnim strong{
    color: #83B692;
    font-weight: normal;
    font-size: 17px;
}
.tiposAnim{
    text-align: center;
}
.headerAnimales{
    height: 200px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headerAnimales p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 35px;
    line-height: 32px;
}
.tituloAnimales{
    padding-top: 20%;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 68px;
    font-weight: normal;
    line-height: 69px;
}
.tituloNombreA{
    color: #956D4F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: normal;
    line-height: 69px;
}
#titdelfin{
    color: #9AC2BD;
}
#titmanati{
    color: #75929A;
}
/*-----Vieira------*/
@media only screen and (max-width: 480px){
    *{
        margin: 0;
    }
    #content{
        width: 100%;
    }
    .oculto{
        display: none !important;
    }
    /*Splash*/
    #splash{
        width: 100%;
        height: 100%;
        font-family: Roboto;
        display:contents;
    }

    #logo_splash{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 50%;
    }
    /*Registro*/
    #signup{
        width: 100%;
        height: 100%;
        font-family: Roboto;
        display:contents;
    }
    
    .logo_cont{
        text-align: center;
        width: 100%;
    }
    .logo_cont img{
        padding: 76px 30px 0px 0px;
    }
    
    .input_cont{
        text-align: center;
    }
    
    .input_cont form{
        margin-top: 39px;
    }
    .input_cont form input{
        height: 25px;
        width: 80%;
        margin: 0px 0px 6px 0px;
        border: black solid;
        font-size: 15px;
        font-family: Roboto;
    }
    
    /*.boton_contra{
        background-image: url(../img/boton_mostrar.png);
        width: 22px !important;
        border-left: none !important ;
        background-repeat: no-repeat;
    }*/
    
    .input_cont form button{
        background-color: #BBCC6D;
        border: none;
        color: white;
        height: 40px;
        width: 140px;
        margin-top: 10px;
        font-size: 26px;
    }
    
    
    .input_cont form p{
        font-size: 16px;
        margin-top: 14px;
    }
    
    .input_cont form span{
        color: #83B692;
    }

    /*Logeo*/
    #login{
        width: 100%;
        height: 100%!important;
        font-family: Roboto;
        display: contents;
    }

    #login .logo_cont img{
        padding: 112px 30px 0px 0px !important;
    }
    #login .logo_cont h1{
        font-size: 30px;
    }

    
    #login .input_cont form{
        margin-top: 20px !important;
    }
    /*Recuperar clave*/

    #recuperar{
        width: 100%;
        height: 100%!important;
        font-family: Roboto;
        display: contents;
    }

    #recuperar .logo_cont h1{
        font-size: 30px;
        font-family: Roboto;
    }

    
    #recuperar .logo_cont img{
        padding-bottom: 50px;
    }
    /*Nueva clave*/

    #nueva_contra{
        width: 100%;
        height: 100%!important;
        font-family: Roboto;
        display: contents;
    }

    #nueva_contra .logo_cont h1{
        font-size: 30px;
        font-family: Roboto;
    }

    
    #nueva_contra .logo_cont img{
        padding-bottom: 50px;
    }

    /*Perfil de usuario*/
    #usuario{
        width: 100%;
        height: 100%;
        font-family: Roboto;
        text-align: center;
        display: contents;
    }

    #foto_perfil{
        padding: 60px 0px 0px 0px !important;
    }

    #usuario .logo_cont h1{
        font-size: 39px;
    }

    #ampliar_cuenta{
        position: absolute;
        top: 286px;
        left: 60px;   
    }


    /*clase para estilos de hipervinculos*/
    .hipervinculo{
        color: #9CBC8F;
        text-decoration: none;
    }

    #usuario .input_cont h2{
        position: absolute;
        top: 322px;
        left: 90px;
        font-size: 19px;

    }

    #animales_usuario img{
        height: 100%;
        width: auto;
    }


    #animales_usuario{
        height: 114px;
        display: flex;
        justify-content: center;
    }
    .input_cont h1{
        font-size: 51px;
        font-family: Roboto;
    }

    #usuario .input_cont button{
        background-color: #BBCC6D;
        border: none;
        height: 33px;
        width: 240px;
        font-size: 14px;
        font-weight: 500;
    }

    #btn_volver{
        float: right;
        margin: 5%;
        padding: 0!important;
    }
    /*Ampliacion de Datos personales*/
    #datos_personales{
        width: 100%;
        height: 100%;
        font-family: Roboto;
        text-align: center;
        display: contents;
    }

    #foto_perfil_menor{
        padding: 5% !important;
        height: 100%;
        width: auto;
    }

    .perfil_cont{
        height: fit-content;
        display: flex;
        justify-content: left; ;
    }
    .perfil_cont p{
        height: 100%! important;
        width: auto !important;
        font-size: 40px !important;
        padding: 3% !important;
        color: black !important;
        font-family: Roboto !important
    }

    #volver_cont{
        width: 100%;
        height: 50px;
    }

    #datos_personales .input_cont form label{
        float: left;
        padding-left: 9%;
    }
    #datos_personales .input_cont form input{
        border: black solid 1px;
    }

    #datos_personales .input_cont form button{
        color: black;
        font-size: 20px;
        width: 205px;
        height: 34px;
    }
    
}

@media only screen and (max-width: 480px) and (max-height:580px){
    .logo_cont img {
        padding: 5px 30px 0px 0px !important;
    }
}

